<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <style>
        .navbar {
          justify-content: center;
        }
        .navbar-nav {
          text-align: center;
        }
        .navbar-nav .nav-item {
          display: inline-block;
        }
        .nav-link.active {
          font-weight: bold;
          border-bottom: 2px solid #007bff;
        }
      </style>
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item" *ngIf="isAdmin">
                <a class="nav-link" [ngClass]="{'active': activePage === 'charts'}" routerLink="/charts">Statistiques</a>
              </li>
              <li class="nav-item" *ngIf="!isAdmin">
                <a class="nav-link" [ngClass]="{'active': activePage === 'dashboard'}" routerLink="/dashboard">Tableau de Bord</a>
              </li>
              <li class="nav-item" *ngIf="isAdmin">
                <a class="nav-link" [ngClass]="{'active': activePage === 'treat'}" routerLink="/treat">Traitement</a>
              </li>
      
              <!-- Menu pour Non-Admins -->
              <li class="nav-item" *ngIf="!isAdmin">
                <a class="nav-link" [ngClass]="{'active': activePage === 'claim'}" routerLink="/claim">Réclamation</a>
              </li>
              <li class="nav-item" *ngIf="!isAdmin">
                <a class="nav-link" [ngClass]="{'active': activePage === 'follow'}" routerLink="/follow">Suivi</a>
              </li>
              <li class="nav-item" *ngIf="!isAdmin">
                <a class="nav-link" [ngClass]="{'active': activePage === 'verification'}" routerLink="/verification">Vérification</a>
              </li>
              <li class="nav-item" *ngIf="!isAdmin">
                <a class="nav-link" [ngClass]="{'active': activePage === 'contactus'}" routerLink="/contactus">Contact</a>
              </li>
      
              <!-- Options communes -->
              <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': activePage === 'about'}" routerLink="/about">À propos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': activePage === 'reset'}" routerLink="/login">Déconnexion</a>
            </li>
        </ul>
      </div>
    </nav>
  
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
     
    <div class="main">
        <div class="soc">
            <h1 class="title-1">
                Our Society
            </h1>
            <p class="para-1">
                SIGA is a software development and IT solutions company created in 1996. Our company provides personalized integrated management systems, adapted information systems, as well as consulting, training and maintenance services.
                Our company is located in Tunisia. The banks of the lake, Tunis. The permanent staff consists of more than twenty engineers and six senior consultants with extensive software development experience ranging from 5 to 25 years of experience.
                Our main objective is to contribute to the success of our customers, through the precision and efficiency of our information systems. As well as our follow-up throughout the integration process, quality training and preventive, curative and evolutionary maintenance
            </p>
        </div>
        <div class="act">
            <h1 class="title-2">
                Our Activities
            </h1>
            <p class="para-2">
                • Strategic collection and planning of information according to the characteristics and needs of the organization.<br>
                • Analysis, design, development and implementation of adequate management information systems.<br>
                • Monitoring throughout the process of system implementation and effective staff training.
                Our main activities cover all aspects of the product development life cycle;<br>
                • Diagnosis of existing information systems.<br>
                • The development of the preliminary, functional and organic analysis.<br>
                • Design and development of systems with advanced tools.<br>
                • Project management, systems integration and implementation.<br>
                • Optimization of database structures according to operational constraints and characteristics of the IT infrastructure.<br>
                SIGA's interventions are oriented towards the development, implementation and maintenance of real-time wide-range interactive systems with the use of database management systems and 4G languages.
            </p>
        </div>
        <div class="contact">
            <h1 class="title-contact">
                Contact Us !
            </h1>
            <a routerLink="/contactus">
                <button class="btn">Contact</button>
            </a>    
        </div>
    
    </div>
</body>
</html>
