<nav>
    <div class="container">
        <div>
            <a class="navbar-brand" routerLink="/dashboard">
                <img src="assets\NV_LOGO_SIGA_2_69.png" alt="">
            </a>
        </div>
        <div class="items">
            <ul>
                <li *ngFor="let link of links">
                  <a *ngIf="!isAdmin"  [routerLink]="link.route">{{ link.name }}</a>
                </li>
                <li>
                  <a (click)="logout()">Logout</a>
                </li>
              </ul>
        </div>
    </div>
</nav>