<nav>
    <div class="container">
        <div>
            <a class="navbar-brand" routerLink="/dashboard">
                <img src="assets\NV_LOGO_SIGA_2_69.png" alt="">
            </a>
        </div>
        <div class="items">
            <ul>
                <li>
                    <a routerLink="/dashboard">Dashboard</a>
                </li>
                <li>
                    <a routerLink="/about">About Us</a>
                </li>
                <li>
                    <a routerLink="/contactus">Contact Us</a>
                </li>
                <li >
                    <a routerLink="/">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>