<!-- <app-navbar></app-navbar> -->

<!-- <div class="form container " *ngIf="!isLoggedIn">
    <div class="dashboard">
        <div class="login">
            <form class="col-md-6"  (ngSubmit)="login()" [formGroup]="signupForm">
                <h3 class="log-tit"><span>Welcome!</span><br> Please log in </h3>

                <div class="form-group">
                    <label><span>Email</span> <span class="text-danger">*</span></label>
                    <input class="form-control" type="text" formControlName="login">
                </div>

                <div class="form-group">
                    <label><span>Password</span> <span class="text-danger">*</span></label>
                    <input class="form-control" type="password" formControlName="password">
                </div>

                <div class="checkbox">
                    <label><input type="checkbox"> Remember me</label>
                </div>

                <button class="btn btn-primary submit-btn" type="submit">Login</button>

                <div>
                    <a href="#forgotPassword" id="forgot">Forgot Password</a><br>
                    <div>
                        <small id="newUser"> New User?
                            <a routerLink="/signup">Create A Free Account</a>
                        </small>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> -->

<!-- <router-outlet></router-outlet> -->

<!-- <div *ngIf="!isLoggedIn">
        <div class="dashboard">
          <div class="col-md-6 login">
            <form (ngSubmit)="login()" [formGroup]="signupForm">
              <div class="logo-container">
                <img src="../assets/NV_LOGO_SIGA_2_69.png" alt="Logo" class="logo">
              </div>
      
              <h1 class="log-tit">
                <span>Welcome!</span><br> Please log in
              </h1>
      
              <div class="form-group">
                <input placeholder="Email" class="form-control" type="text" formControlName="login">
              </div>
      
              <div class="form-group">
                <input placeholder="Password" class="form-control" type="password" formControlName="password">
              </div>
      
              <button class="btn submit-btn" type="submit">Login</button>
      
              <div class="links">
                <a routerLink="/signup" id="forgot">Forgot Password</a><br>
                <small id="newUser"> New User?
                  <a routerLink="/signup">Create A Free Account</a>
                </small>
              </div>
            </form>
          </div>
          <div class="img col-md-6">
            <img class="img" src="../assets/Service 24_7-pana.png" alt="computer" id="img">
          </div>
        </div>
      </div> -->
      <div *ngIf="isLoggedIn">
        <app-navbar ></app-navbar>
      </div>

<router-outlet class="main" ></router-outlet>