<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <style>
        .navbar {
          justify-content: center;
        }
        .navbar-nav {
          text-align: center;
        }
        .navbar-nav .nav-item {
          display: inline-block;
        }
        .nav-link.active {
          font-weight: bold;
          border-bottom: 2px solid #007bff;
        }
      </style>
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': activePage === 'dashboard'}" routerLink="/dashboard">Accueil</a>
              </li> <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': activePage === 'claim'}" routerLink="/claim">Réclamation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': activePage === 'follow'}" routerLink="/follow">Suivi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': activePage === 'verification'}" routerLink="/verification">Vérification</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': activePage === 'contactus'}" routerLink="/contactus">Contact</a>
              </li>
      
              <!-- Options communes -->
              <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': activePage === 'about'}" routerLink="/about">À propos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': activePage === 'reset'}" routerLink="/login">Déconnexion</a>
            </li>
        </ul>
      </div>
    </nav>
  
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
     
    <div class="header">
        <h5 class="title">
            Dashboard / Submit A Claim
        </h5>
    </div>
    <div class="request">
        <h3 class="request-title">
            Your request
        </h3>
        <hr>
        <div class="alert alert-success" role="alert">
            <div>
                <h4 class="complaint"><span class="check" >✓</span> Your complaint has been registered. </h4>
            </div>
        </div>
        <div class="claim">
            <h4 class="details">Your claim number is: {{codeClaim}}<h5></h5> <br>
                A confirmation email with this number has been sent to you at:<h5></h5><br>
            <span class="note"> keep this number as it will be used to track the progress of the claim.</span></h4>
        </div>
    </div>
    <button routerLink="/dashboard" class="btn2 "><a >back to home</a></button>
</body>
</html>