<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="./dashboard.component.css">
</head>
<body>
<div class="main">
    <div class="submit-follow">
        <div class="submit">
            <h1 class="title-1"><span class="mrk">Submit</span> a claim</h1>
            <p class="para-1">To submit a new claim,<br>
                click on the button below.</p>
            <button><a routerLink="/claim">Submit</a></button>
        </div>
        <div class="follow">
            <h1 class="title-1"><span class="mrk">follow</span> a claim</h1>
            <p class="para-1">To submit a new claim,<br>
            click on the button below.</p>
            <button><a routerLink="/follow">Follow</a></button>
        </div>
    </div>
    <img class="img" src="../../assets/5112782.jpg" alt="computer" id="img" >
</div>

</body>
</html>