<div class="container main">
    <div class="submit-follow">
        <div class="submit">
            <h1 class="title-1"><span class="mrk">Submit</span> a claim</h1>
            <p class="para-1">To submit a new claim,<br>
                click on the button below.</p>
            <button routerLink="/claim" (click)="addFollowLink()"><a >Submit</a></button>
        </div>
        <div class="follow">
            <h1 class="title-1"><span class="mrk">follow</span> a claim</h1>
            <p class="para-1">To submit a new claim,<br>
            click on the button below.</p>
            <button><a (click)="addSubmitLink()" routerLink="/follow">Follow</a></button>
        </div>
    </div>
    <img class="img" src="../../assets/5112782.jpg" alt="computer" id="img" >
</div>