<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class="jumbotron">
        </div>

        <div class="icons">
            <div class="phone">
                <div class="icon-1">
                    <fa-icon  class="icon1" [icon]="icon1"></fa-icon>
                    
                </div>    
                <h3 class="desc">
                    Phone<br>
                    <span class="desc2">
                        Tél :(+216) 71 960 281<br>
                        (+216) 71 960 293
                    </span>
                </h3>
            </div>

            <div class="fax">
                <div class="icon-2">
                    <fa-icon class="icon2" [icon]="fax"></fa-icon>
                </div>
                <h3 class="desc">
                    Fax<br>
                    <span class="desc2">
                        (+216) 71 960 293
                    </span>
                </h3>
            </div>

            <div class="local">
                <div class="icon-3">
                    <fa-icon class="icon2" [icon]="loca"></fa-icon>
                </div>
                <h3 class="desc">
                    Adresse<br>
                    <span class="desc2">
                        Palais du Golf C2,<br>
                        Rue du Lac Malaren,<br>
                        1053 Les Berges du Lac, Tunis<br>
                    </span>
                </h3>
            </div>

            <div class="adr">
                <div class="icon-4">
                    <fa-icon class="icon2" [icon]="mail"></fa-icon>
                </div>
                <h3 class="desc">
                    Email<br>
                    <span class="desc2">
                        contact@siga.com.tn
                    </span>
                </h3>
            </div>



        </div>
    </div>
</body>
</html>