<html lang="en">
    <style>
        .navbar {
          justify-content: center;
        }
        .navbar-nav {
          text-align: center;
        }
        .navbar-nav .nav-item {
          display: inline-block;
        }
        .nav-link.active {
          font-weight: bold;
          border-bottom: 2px solid #007bff;
        }
      </style>
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': activePage === 'dashboard'}" routerLink="/dashboard">Accueil</a>
              </li> <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': activePage === 'claim'}" routerLink="/claim">Réclamation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': activePage === 'follow'}" routerLink="/follow">Suivi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': activePage === 'verification'}" routerLink="/verification">Vérification</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': activePage === 'contactus'}" routerLink="/contactus">Contact</a>
              </li>
      
              <!-- Options communes -->
              <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': activePage === 'about'}" routerLink="/about">À propos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': activePage === 'reset'}" routerLink="/login">Déconnexion</a>
            </li>
        </ul>
      </div>
    </nav>
  
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
     
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class="jumbotron">
        </div>

        <div class="icons">
            <div class="phone">
                <div class="icon-1">
                    <fa-icon  class="icon1" [icon]="icon1"></fa-icon>
                    
                </div>    
                <h3 class="desc">
                    Phone<br>
                    <span class="desc2">
                        Tél :(+216) 71 960 281<br>
                        (+216) 71 960 293
                    </span>
                </h3>
            </div>

            <div class="fax">
                <div class="icon-2">
                    <fa-icon class="icon2" [icon]="fax"></fa-icon>
                </div>
                <h3 class="desc">
                    Fax<br>
                    <span class="desc2">
                        (+216) 71 960 293
                    </span>
                </h3>
            </div>

            <div class="local">
                <div class="icon-3">
                    <fa-icon class="icon2" [icon]="loca"></fa-icon>
                </div>
                <h3 class="desc">
                    Adresse<br>
                    <span class="desc2">
                        Palais du Golf C2,<br>
                        Rue du Lac Malaren,<br>
                        1053 Les Berges du Lac, Tunis<br>
                    </span>
                </h3>
            </div>

            <div class="adr">
                <div class="icon-4">
                    <fa-icon class="icon2" [icon]="mail"></fa-icon>
                </div>
                <h3 class="desc">
                    Email<br>
                    <span class="desc2">
                        contact@siga.com.tn
                    </span>
                </h3>
            </div>



        </div>
    </div>
</body>
</html>