#barChart, #lineChart {
    width: 100%;
    height: 400px;
  }
  /* chart-container.component.css */
.chart-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Ajuste l'espacement entre les graphiques */
    gap: 10px; /* Espacement entre les graphiques */
  }
  
  .chart-item {
    flex: 1;
    min-width: 0; /* Évite que les éléments soient trop larges */
  }
  
  canvas {
    width: 100% !important; /* Assure que le canvas prend toute la largeur de son conteneur */
    height: auto; /* Ajuste la hauteur automatiquement pour conserver les proportions */
  }
  